.header {
    background-color: rgb(16, 171, 248);
    grid-area: h;
    margin-bottom: 15px;
}

.header img {
    width: 80px;
}

.item a {
    color: rgb(16, 171, 248);
    text-decoration: none;
    font-size: 20px;

}

.logo {
    width: 200px;
    height: 170px;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.item a.active {
    color: black;
}

.eee {
    color: white;
    text-decoration: none;
    text-emphasis: none;
}

.eee a {
    color: white;
    text-decoration: none;
    text-emphasis: none;
}
