.nav {
    grid-area: n;
    background-color: rgb(34, 43, 70);
    
    
}
.item a{
    color: rgb(236, 219, 219);
    text-decoration: none;
    font-size: 30px;
    margin-top:20px;
    
  
}

.freinds {
    color:white;
    font-size: 30px;
    margin-top:140px;
    margin-left: 100px;
}



.item a.active{
    color: goldenrod;
    padding-left: 40px;
}

.f {
   
}